$header-main-color: #0000;
$darkPurple: #231d54;
$purple: #7F65F8;
$lightPurple: #9388db;
$lightGrayPurple: #f7f7fb;
$pink: #ff3d69;
$gray: #797777;
$primary: #0087F6;
$error: #F32222;
$warning: #FBE0BF;
$success: #CFEBAB;
$blackMate: #1A1F26;
$greenPast: #47E975;
$ternary: rgba(255,255,255,.3);
$ternaryBlack: rgba(0,0,0,.5);
$secondary: #233659;
$backgroundGray: #f9f9f9;
$headerGradient: linear-gradient(160deg, #ae497b, #94538f);