/* You can add global styles to this file, and also import other style files */
@import "./app/theme.scss";
@import "~font-awesome/css/font-awesome.min.css";
*{
    margin: 0px;
    margin-bottom: 0px;
    padding: 0px;
    box-sizing: border-box !important;
}
ul,ol,button,li,div{
    margin-bottom: 0px;
}

button{
    background: transparent;
    border: none;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.mi-estilo{
    background:black;
    padding: 5px 20px;
    border-radius: 10px;
    color: white;
    margin: 10px;
    display: inline-block;
}
.etiqueta-black{
    background: #1C2534;
    padding: 5px 20px;
    border-radius: 4px;
    color: white;
    margin: 10px;
    display: inline-block;
}
.code-js{
    width: 100%;
    background: #252525;
    color: white;
    border-radius: 10px;
    position:relative;
   
}
.code-header{
    width: 100%;
    padding:10px;
    display: flex;
    justify-content: space-between;
    font-family: sans-serif;
    ul{
        list-style: none;
        display: flex;
    }
    
}
.code-code{
    padding: 25px;
}
.container{
    padding:20px;

}

.buble{
    width:10px;
    height: 10px; 
    border-radius: 20px;
    background: #ff3d69;
    display: inline-block;
    margin-right: 20px;
}
.codeJs-active{
    button{

        background: $blackMate !important;
        color: white !important;
    }
}
.keyword-container{
    display: block;
    .keyword{
        color: yellow;
        font-weight: bold;
    }
}
.func-container{
    display: block;
   
    .func{
        color: $primary;
        font-weight: bold;
    }
}